WPFAppLaunchingUniversalApp/WPFLauncherApp/bin/Debug/WPFLauncherApp.vshost.exe
WPFAppLaunchingUniversalApp/WPFLauncherApp/bin/Debug/WPFLauncherApp.vshost.exe.config
WPFAppLaunchingUniversalApp/WPFLauncherApp/bin/Debug/WPFLauncherApp.vshost.exe.manifest
WPFAppLaunchingUniversalApp/.vs/WPFAppLaunchingUniversalApp/v14/.suo